@tailwind base;
@tailwind components;
@tailwind utilities;

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.squiggly-line {
  position: absolute;
  height: 10px;
  width: 200%;
  transform: translate(-25%) scale(0.5);
}

.zig {
  background: linear-gradient(
    45deg,
    transparent,
    transparent 49%,
    gray 49%,
    transparent 51%
  );
}
.zag {
  background: linear-gradient(
    -45deg,
    transparent,
    transparent 49%,
    gray 49%,
    transparent 51%
  );
}

.squiggly-line {
  background-size: 20px 20px;
}

.prose .anchor {
  @apply absolute invisible;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 740px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible no-underline;
}

.prose .anchor:after {
  @apply text-sky-500;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible no-underline;
}