@tailwind base;
@tailwind components;
@tailwind utilities;

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.squiggly-line {
  position: absolute;
  height: 10px;
  width: 200%;
  transform: translate(-25%) scale(0.5);
}

.zig {
  background: linear-gradient(
    45deg,
    transparent,
    transparent 49%,
    gray 49%,
    transparent 51%
  );
}
.zag {
  background: linear-gradient(
    -45deg,
    transparent,
    transparent 49%,
    gray 49%,
    transparent 51%
  );
}

.squiggly-line {
  background-size: 20px 20px;
}
